.header-image{
    width: 100%;
    height: 400px;
    /* filter: blur(0.7px) contrast(1.1) grayscale(0.07) url('#dark-blue-sepia') sepia(0.31); */
}
.header-image-up::before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height: 400px;
    background:rgb(38 70 92 / 58%);
    content:"";
    z-index:1;
}

.text-content{
    display: flex;
    flex-direction: column;
    width: 1080px;
    row-gap:30px ;
}

.text-content-header{
    margin: auto;
    color:rgb(37, 37, 37);
    font-family:'Montserrat', sans-serif;
}

.text-content-info{
    color:rgb(37, 37, 37);
    font-family:'Montserrat', sans-serif;
    width: 820px;
    margin-top: 20px;
    line-height: 2;
    display: inline ;
}

.mini-header{
    color:rgb(37, 37, 37);
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
}

.mini-content{
    color:rgb(37, 37, 37);
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
}

.MsoNormal{
    color:rgb(37, 37, 37);
    font-size: 14px;
    font-family:'Montserrat', sans-serif;
}