@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@500&family=Poppins&display=swap');
@font-face {
    font-family: fontello;
    src: url(../fonts/fontello.woff);
}
@font-face {
    font-family: icon_set_1;
    src: url(../fonts/icon_set_1.woff);
}

@font-face {
    font-family: icon_set_2;
    src: url(../fonts/icon_set_2.woff);
}
*, html {
    margin:0;
    padding:0;
}

body{
    background-color: #fafbfd;
}

.slide-image{
    width: 100%;
    height: 720px;
    object-fit: cover;
}
.menu{
    position:fixed;
    display: flex;
    flex-direction: row;
    z-index: 102;
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
}

.scrolling{
    border-bottom: 1px solid #ededed;
    background: #fff;
}

.logo{
    margin-top: 10px;
    width: 200px;
    height: 75px;
}

.page-title{
    text-align: center;
    left: 0;
    right: 0;
    position:absolute;
    z-index: 10;
    margin-top: 200px;
}

.page-title h1 {
    font-size: 54px;
    color:white;
    font-family: 'Poppins', sans-serif;;
}

.page-title h3 {
    margin-top: 10px;
    color:white;
    font-family: 'Poppins', sans-serif;;
}
.menu-button{

}

.menu-ul{
    margin-top: 15px;
    display: flex;
}

.flex-direction-row{
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}

.menu-ul  .menu-li > .menu-ul{
    background-color: rgba(99, 99, 99, 0.63);
    -webkit-box-shadow: 0 2px 20px 0 rgb(62 65 159 / 9%);
    box-shadow: 0 2px 20px 0 rgb(62 65 159 / 9%);
    width: 250px;
    position: absolute;
    padding: 20px 0;
    left: 10;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.menu-up{
    margin-top: 20px !important;
}
.menu-li{
    font-family: 'Poppins', sans-serif;;
    list-style-type: none;
    margin-left:30px;
    margin-top: 5px;
}

.menu-button-s{
    color: rgb(27, 27, 27) !important;
}

.menu-ul .menu-li:hover > .menu-ul { 
    position: absolute;
    visibility: visible;
    opacity: 1;
}

.menu-button{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu-button:hover{
    color:#ffc400;
}

.menu-button-s:hover{
    color:#ffc400 !important;
}

.booking{
    z-index: 100;
    position:absolute;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: -120px;
    margin-left: 18%;
    height: auto;
    /* box-shadow: 0px 0px 33px 0px rgba(184,184,184,0.76); */
}

.booking-form{
    display: flex;
    flex-direction: row;
}
.form-item-bg-1{
    background-color: #f6f6f6;
}

.form-item-bg-2{
    background-color: #ffffff;
}

.form-item{
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 15px 18px;
}

.form-item-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgba(236, 240, 251, 0);
    border-radius: 50%;
    /* width: 60px;
    height: 60px; */
    font-size: 18px;
}
.icon-color1{
    font-size: 25px;
    color:#f85b4d !important;
}
.icon-color2{
    font-size: 25px;
    color:#00b7ff !important;
}
.icon-color3{
    font-size: 25px;
    color:#dcdcdc !important;
}
.form-item-icon-info{
    display: flex;
    flex-direction: row;
    column-gap:13px;
}

.form-item-info{
    font-family: 'Poppins', sans-serif;;
    font-size: 12px;
    font-weight: 600;
    color:#2c395b;
}
.form-item-date{
    width: 150px;
    display: block;
    outline: none;
    border: none;
    height: 2em;
    font-family: 'Poppins', sans-serif;;
    font-weight: 900;
    font-size: 18px;
    color:#2c395b;
    background-color: #00b7ff00;
    /* border-bottom: 1px solid rgb(207, 207, 207); */
}



.form-item-count{
    width: 150px;
    display: block;
    outline: none;
    border: none;
    height: 2em;
    font-size: 16px;
    margin-bottom: 1px;
    background-color: #00b7ff00;
    font-family: 'Poppins', sans-serif;;
    font-weight: 900;
    font-size: 18px;
    color:#2c395b;
}

.form-item-count:focus{
    border-bottom: 1px solid #0572ce;
    box-shadow: 0 1px 0 0 #0572ce;
  }

 .form-item-date:focus{
    border-bottom: 1px solid #0572ce;
    box-shadow: 0 1px 0 0 #0572ce;
  } 

.form-icon{
    color: rgb(26, 88, 171);
}
.fb{
    padding: 0px;
    margin-left: 20px;
}
.form-button{
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
    font-size:18px;
    color: white;
    background-color:#ffc400;
    border: none;
    height: 100px;
    width: 150px;
    transition: all 0.5s;
}  
.form-button:hover{
    background-color:#777777;
    color: #ffc400;
}  
 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .other-page{
    margin-top: 100px;
 }

 .main-page{
    margin-top: 200px;
 }
 .content-upper{
    height: 480px;
    display: flex;
    flex-direction: column;
 }

 .content-upper-title{
    font-size: 25px;
    font-family:'Poppins', sans-serif;;
 }

 .content-upper-context{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
 }

 .content-upper-context-image{
    width: 350px;
    height: 350px;
    object-fit: cover;
 }
 .content-upper-context-text{
    font-size: 17px;
    margin-left: 50px;
    width: 450px;
    font-family:'Poppins', sans-serif;;
    line-height: 1.6;
 }

 .content-underline{
    margin-top: 50px;
    width: 80%;
    height: 1px;
    background-color:rgb(216, 213, 205);
    border-radius: 16px;
 }
 .content-mid{
    margin: auto;
    margin-top: 30px;
 }

 .room-list{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    align-items: center;
 }

.room-list-item{
    display: flex;
    flex-direction: row;
    margin-top: 54px;
    margin-left: 120px;
}

.room-list-item-image {
     width:450px;
    height:300px;
}
.zoom-effect-container {
    position: relative;
    width: 450px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.image-card {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .image-card img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  
  .zoom-effect-container:hover .image-card img {

    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }

.room-list-item-info {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 70px;
    margin-top: 10px;
 }
.room-list-item-info a{
    text-decoration: none;
}
.room-list-item-icons{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.room-list-item-icon{
    margin-left: 40px;
    width: 40px;
    height: 40px;
    color: #bdbdbd;
}

.room-list-item-title{
    font-family:'Poppins', sans-serif;;
    font-size: 25px;
}

.under-line{
    margin-top: 15px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.616);
}

.room-detail-button{
    font-family:'Poppins', sans-serif; ;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    font-size:16px;
    border-radius: 4px;
    color: white;
    background-color:#ffc400;
    border: none;
    padding: 16px;
    width: 100px;
    transition: all 0.5s;
}

.room-detail-button:hover{
    background-color:#777777;
    color: #ffc400;
}

.footer-content{
    padding-top: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    row-gap: 250px;
    justify-content: center;
    height: 350px;
    background-color:#252525 ;
}

.footer-mini-contact{
    display: flex;
    flex-direction: column;
}

.footer-mini-address{
    font-size: 16px;
    color:white;
    font-family:'Poppins', sans-serif;;
    margin-top: 10px;
}

.footer-mini-phone{
    font-size: 16px;
    color:white;
    font-family:'Poppins', sans-serif; ;
    margin-top: 10px;
}

.footer-mini-email{
    font-size: 16px;
    color:white;
    font-family:'Poppins', sans-serif;;
    margin-top: 10px;
}

.footer-logo{
    width: 200px;
    height: 75px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    font-family:'Poppins', sans-serif; ;
}
.footer-links a{
    
    margin-top: 5px;
    text-decoration: none;
    font-size: 12px;
    font-family:'Poppins', sans-serif; ;
    color: white;
}

.footer-links a:hover{
    color:#ffc400;
}
.footer-title{
    font-size: 18px;
    font-family:'Poppins', sans-serif; ;
    color:#ffc400;
}


.footer-language{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}

.footer-language a {
    margin-top: 5px;
    text-decoration: none;
    font-size: 12px;
    font-family:'Poppins', sans-serif; ;
    color: white;
}

.footer-language a:hover{
    color:#ffc400;
}


.footer-info{
    display: flex;
    flex-direction: column;
    background-color:#252525 ;
    font-family:'Poppins', sans-serif; ;
    align-items: center;
}

.footer-socialmedia{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    color: #ffffff;
}
.footer-socialmedia a{
    margin-left: 35px;
    color: #ffffff;
    text-decoration: none;
}

.footer-socialmedia a:hover{
    color: #ffc400;
}

.footer-copyright{
    margin-top: 10px;
    color: white;
    font-size: 12px;
    font-family:'Poppins', sans-serif;;
    padding: 20px;
}


.md-modal {
  margin: auto;
	position: fixed;
	top: 100px;
	left: 0;
  right: 0;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
    background: #000000d8;
	visibility: visible;
}

.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
	background-color: #000000d8;
} 

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
	background: transparent;
}

.md-show.md-effect-12 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.modal-form{
    display: grid;
    margin: auto;
    overflow: hidden; 
    height: 800px;
    grid-template-columns: [first] 100px [line2] 100px [line3] 100px [line4] 100px [line5] 100px [end];
    grid-template-rows: [row1] 120px [row2] 120px [row3] 120px [row4] 200px [row5] 120px [row6] 120px [row6];
}

.modal-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.modal-content h3{
    align-items: center;
    justify-content: center;
    margin: auto;
}

.modal-grid-item-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.modal-grid-item-2{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.modal-grid-item-3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.modal-grid-item-4{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.form-input{
    color:rgb(37, 37, 37);
    font-family:'Poppins', sans-serif;;
    width: 90%;
    display: block;
    margin-top: 18px;
    display: block;
    outline: none;
    border: none;
    height: 2em;
    font-size: 16px;
    margin-bottom: 1px;
    border-bottom: 1px solid rgb(207, 207, 207);
    background-color: rgba(240, 248, 255, 0);
}